<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/blog/assets/css/styles.scss' | relative_url }}">
  <link rel="icon" href="{{ '/blog/assets/images/unnamed.jpg' | relative_url }}">
</head>
<body class="dark-mode blog-page">

  <nav class="navbar">
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/#worlds' | relative_url }}">Worlds & Stories</a></li>
      <li><a href="{{ '/#programming' | relative_url }}">Programming</a></li>
      <li><a href="{{ '/blog' | relative_url }}">Blog</a></li>
      <li><a href="{{ '/#passage' | relative_url }}">Passage</a></li>
      <li><button id="toggle-dark" class="btn-small">🌙</button></li>
    </ul>
  </nav>
  

  <div class="content">
    {{ content }}
  </div>

  <footer>
    <p>Copyright <a href="https://thejupiterdev.github.io/" target="_blank">Joel H.</a> © 2025</p>
    <p>Follow me: <a href="https://github.com/thejupiterdev">GitHub</a></p>
    <p>Thanks for visiting my creative cave!</p>
  </footer>

  <script src="{{ '/blog/script.js' | relative_url }}"></script>
</body>
</html>
